@charset "utf-8";
@import '_common.scss';
@import '_mixin.scss';

main{
    div{
        section{
            display: block;
            .about{
                background: url(../img/aboutus/sub_visual1.jpg) no-repeat center;
                background-size: cover;

                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 600px;
                .ab_title{
                    text-align: center;
                    padding-top: 45px;
                    z-index: 10;
                    word-break: keep-all;
                    h2::before{
                        display: block;
                        content: "";
                        width: 60px;
                        height: 1px;
                        margin: 0 auto 20px;
                        background: rgba(255,255,255,0.4);
                    }
                    h2{
                        font-family: "Roboto";
                        font-size: 66px;
                        color: #fff;
                        font-weight: 600;
                    }
                    p{
                        margin-top: 20px;
                        font-size: 19px;
                        color: rgba(255,255,255,1);
                        line-height: 170%;
                    }
                }
                .ab_sub{
                    position: absolute;
                    left: 0;
                    top: calc(100% - 70px);
                    z-index: 100;
                    width: 100%;
                    background: rgba(0,0,0,0.4);
                    ul{
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        max-width: 1320px;
                        width: 100%;
                        margin: 0 auto;
                        li{
                            width: 20%;
                            position: relative;
                            a{
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 70px;
                                font-size: 17px;
                                color: #fff;
                                span{
                                    position: relative;
                                    figure{
                                        opacity: 0;
                                        position: absolute;
                                        right: 100%;
                                        top: -1px;
                                        width: 18px;
                                        margin-right: 5px;
                                        img{}
                                    }
                                }
                            }
                        }
                        li.on{
                            a{
                                span{
                                    figure{
                                        opacity: 1;
                                        img{}
                                    }
                                }
                            }
                        }
                        li::after{
                            display: block;
                            content: "";
                            width: 1px; height: 14px;
                            background: rgba(255,255,255,0.2);
                            position: absolute;
                            right: 0;
                            top: 50%;
                            margin-top: -7px;
                        }
                    }
                    ul::after{
                        display: block;
                        content: "";
                        width: 1px; height: 14px;
                        background: rgba(255,255,255,0.2);
                        position: absolute;
                        left: 0; top: 50%;
                        margin-top: -7px;
                    }
                }
            }
        }
        .ab_tabs{
            margin: 50px auto 0;
            text-align: center;
            > div{
                display: inline-block;
                position: relative;
                padding: 0 16px;
                .l_line{
                    > div:nth-child(1){
                        display:block;
                        content:"";
                        width:1px;
                        height:22px;
                        background:#bbb;
                        position:absolute;
                        left:0;
                        top:0;
                        transform:rotate(46deg) translate(3px,-8px);
                    }
                    > div:nth-child(2){
                        display:block;
                        content:"";
                        width:1px; height:26px;
                        background:#bbb;
                        position:absolute;
                        left:0; top:15px;
                    }
                    > div:nth-child(3){
                        display:block;
                        content:"";
                        width:1px; height:22px;
                        background:#bbb;
                        position:absolute;
                        left:0; bottom:0;
                        transform:rotate(-46deg) translate(3px,8px);
                    }
                }
                ul{
                    display: inline-flex;
                    padding: 3px 0px;
                    box-sizing: border-box;
                    border-top: 1px solid #bbb;
                    border-bottom: 1px solid #bbb;
                    li{
                        width: 190px;
                        > .on:before{
                            display: block;
                            content: "";
                            border-right: 12px solid #03569f;
                            border-top: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            position: absolute;
                            right: 100%;
                            top: 0;
                            width: 0;
                            height: calc(100%);
                        }
                        > a{
                            display: block;
                            position: relative;
                            font-size: 17px;
                            color: #888;
                            line-height: 48px;
                        }
                        > .on:nth-child(1){
                            background: #03569f;
                            color: #fff;

                            display: block;
                            position: relative;
                            font-size: 17px;
                            line-height: 48px;
                            text-decoration: none;
                            cursor: pointer;
                        }
                        > .on:nth-child(1)::after{
                            display: block;
                            content: "";
                            border-left: 12px solid #03569f;
                            border-top: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            position: absolute;
                            left: 100%;
                            top: 0;
                            width: 0;
                            height: calc(100%);
                        }
                    }
                }
                .r_line{
                    > div:nth-child(1){
                        display:block;
                        content: "";
                        width:1px; height:22px;
                        background:#bbb;
                        position:absolute;
                        right:0; top:0;
                        transform:rotate(-46deg) translate(-3px,-8px);
                    }
                    > div:nth-child(2){
                        display:block;
                        content: "";
                        width:1px; height:26px;
                        background:#bbb;
                        position:absolute;
                        right:0; top:15px;
                    }
                    > div:nth-child(3){
                        display:block;
                        content: "";
                        width:1px; height:22px;
                        background:#bbb;
                        position:absolute;
                        right:0; bottom:0;
                        transform:rotate(46deg) translate(-3px,8px);
                    }
                }
            }
        }
        .ab_con{
            padding-top: 115px;
            background: url(../img/aboutus/m11_bg1.jpg) no-repeat center bottom;
            background-size: contain !important;
            h3{
                font-size: 46px;
                color: #222;
                font-weight: 600;
                text-align: center;
            }
            .page_color{
                margin: 45px 0 75px;
                font-family: "NanumSquare_acB";
                font-size: 36px;
                color: #333;
                text-align: center;
                .page_txt{
                    display: inline-block;
                    line-height: 150%;
                    text-align: left;
                    font-family: "NanumSquare_acEB";
                    font-weight: 600;
                    letter-spacing: -4px;
                    transform: translateY(60px);
                    opacity: 0;
                    transition: all 1s;
                    strong{
                        font-family: "NanumSquare_acEB";
                        color: #03569f;
                    }
                    img{
                        display: inline-block;
                        vertical-align: top;
                        width: auto;
                        height: 35px;
                        margin: 9px 0 0 10px;
                    }
                }
                .page_txt.ani_up{
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            .section1::before{
                display: block;
                content: "";
                width: 100%; height: 35%;
                background: #f8f8f8;
                position: absolute;
                left: 0; bottom: 0;
            }
            .section1{
                position: relative;
                .tec{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    position: relative;
                    z-index: 100;
                    .img{
                        width: 50%;
                        text-align: center;
                        img{}
                    }
                    .txtarea{
                        box-sizing: border-box;
                        width: 50%;
                        padding: 0 0 0 75px;
                        padding-bottom: 55px;
                        .main_t::before{
                            display: block;
                            content: "";
                            width: 2px; height: 60px;
                            background: #03569f;
                            position: absolute;
                            left: 0; bottom: 0;
                        }
                        .main_t{
                            position: relative;
                            max-width: 600px;
                            padding: 75px 0;
                            .slg::before{
                                display: block;
                                content: "";
                                width: 64px; height: 51px;
                                background: url(../img/aboutus/icon2/bg_dd1.png) no-repeat;
                                position: absolute;
                                left: 0; top: 0;
                            }
                            .slg{
                                font-family: "NanumSquare_acB";
                                font-size: 27px;
                                color: #222;
                                line-height: 150%;
                                margin: 0;
                                text-align: left;
                                padding: 0;
                                word-break: keep-all;
                                strong{
                                    display: block;
                                    font-family: "NanumSquare_acEB";
                                    font-size: 36px;
                                    letter-spacing: -4px;
                                    color: #222;
                                }
                                span{
                                    font-family: "NanumSquare_acB";
                                    font-size: 27px;
                                    color: #222;
                                    line-height: 150%;
                                    margin: 0;
                                    text-align: left;
                                    padding: 0;
                                    font-weight: 530;
                                    word-break: keep-all;
                                }
                            }
                            .slg::after{
                                display: block;
                                content: "";
                                width: 64px; height: 51px;
                                background: url(../img/aboutus/icon2/bg_dd2.png) no-repeat;
                                position: absolute;
                                right: 0; top: 100%;
                            }
                        }
                        p{
                            margin-top: 20px;
                            font-size: 21px;
                            color: #888;
                            line-height: 170%;
                        }
                    }
                }
            }
            .section2{
                padding: 75px 0 34%;
                .profile{
                    max-width: 1320px;
                    width: 94%;
                    margin: 0 auto;
                    .page_color2{
                        margin-bottom: 120px;
                        font-family: "NanumSquare_acB";
                        font-size: 36px;
                        color: #222;
                        line-height: 150%;
                        text-align: center;
                        transform: translateY(60px);
                        transition: all 1s;
                        opacity: 0;
                        strong{
                            font-family: "NanumSquare_acEB";
                            color: #03569f;
                            letter-spacing: -5px;
                        }
                    }
                    .page_color2.ani_up{
                        transform: translateY(0px);
                        opacity: 1;
                    }
                    .sec2_tabs{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 110px;
                        a{
                            display: block;
                            position: relative;
                            width: 49%;
                            font-size: 17px;
                            color: #888;
                            text-align: center;
                            line-height: 48px;
                        }
                        a.on{color: #03569f;}
                        a::after{
                            display: block;
                            content: "";
                            width: 100%; height: 1px;
                            background: #ccc;
                            position: absolute;
                            left: 0; bottom: 0;
                        }
                        a.on::after{
                            height: 2px;
                            background: #03569f;
                        }
                    }
                    .sec2_tabcons{
                        .tabcon{
                            h4{
                                margin-bottom: 50px;
                                font-family: "NanumSquare_acEB";
                                font-size: 36px;
                                color: #222;
                                text-align: center;
                            }
                            .company_profile{
                                .ex{
                                    margin: -50px 0 50px;
                                    font-size: 17px;
                                    color: #888;
                                    text-align: right;
                                }
                                .sec2_ani{
                                    ul{
                                        display: flex;
                                        justify-content: center;
                                        li{
                                            min-width: 180px;
                                            margin: 0 5%;
                                            text-align: center;
                                            font-weight: bold;
                                            letter-spacing: -2px;
                                            .tit{
                                                font-family: "NanumSquare_acB";
                                                font-size: 22px;
                                                color: #222;
                                                transform: translateY(20px);
                                                opacity: 0;
                                                transition: all 1s 1s;
                                                
                                            }
                                            .icon{
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                height: 115px;
                                                img{
                                                    width: 36%;
                                                    transform-origin: center;
                                                }
                                                .w32{width: 32%;}
                                                .w46{width: 46%;}
                                            }
                                            .con{    
                                                font-family: "NanumSquare_acEB";
                                                font-size: 34px;
                                                color: #222;
                                                strong{
                                                    color: #03569f;
                                                    .num{letter-spacing: -1px;}
                                                }
                                            }
                                        }
                                    }
                                }
                                .sec2_ani.in-view{
                                    ul{
                                        li{
                                            .tit{
                                                transform: translateY(0px);
                                                opacity: 1;
                                                transition: all 1s 1s;
                                            }
                                            .icon{
                                                img{animation: icoani1 2s ease-out;}
                                                .w32{width: 32%;}
                                                .w46{width: 46%;}

                                                @keyframes icoani1{
                                                    0%{transform:scale(0) translateZ(-100px);}
                                                    50%{transform:scale(1.1) translateZ(20px);}
                                                    100%{transform:scale(1) translateZ(0);}
                                                }
                                            }
                                            .con{    
                                                font-family: "NanumSquare_acEB";
                                                font-size: 34px;
                                                color: #222;
                                                strong{
                                                    color: #03569f;
                                                    .num{letter-spacing: -1px;}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .tabcon2{
                            display: block;
                            padding-bottom: 80px;
                            h4{
                                margin-bottom: 50px;
                                font-family: "NanumSquare_acEB";
                                font-size: 36px;
                                color: #222;
                                text-align: center;
                                letter-spacing: -0.0125em;
                                word-break: keep-all;
                            }
                            .bu_tabs{
                                ul{
                                    display: flex;
                                    justify-content: space-around;

                                    // 위화살표
                                    li::before{
                                        display: block;
                                        content: "";
                                        width: 0; height: 0;
                                        border-top: 8px solid #d3d3d3;
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        position: absolute;
                                        left: 50%; bottom: 0;
                                        transform: translateX(-50%);
                                        opacity: 0;
                                    }
                                    li.on::before{opacity: 1;}

                                    li{
                                        position: relative;
                                        min-width: 150px;
                                        padding: 0 3.5% 60px;
                                        text-align: center;
                                        width: 300px;
                                        a{
                                            .icon{
                                                height: 90px;
                                                margin-bottom: 15px;
                                                transition: all 0.3s;
                                            }
                                            .tit{
                                                font-family: "NanumSquare_acB";
                                                font-size: 20px;
                                                color: #ccc;
                                                transition: all 0.3s;
                                                height: 26px;
                                            }
                                        }
                                    }

                                    // 첫번째아이콘
                                    li.on:nth-child(1) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico1_over.png) no-repeat center;
                                        background-size: auto 73px;
                                    }
                                    li:nth-child(1) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico1.png) no-repeat center;
                                        background-size: auto 57px;
                                    }
                                    li.on:nth-child(1) > a > .tit{
                                        font-family: "NanumSquare_acEB";
                                        font-size: 24px; color: #222;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                    li:nth-child(1) > a > .tit{
                                        font-family: "NanumSquare_acB";
                                        font-size: 20px; color: #ccc;
                                        transition: all 0.3s;
                                        height: 26px;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }

                                    // 두번째아이콘
                                    li.on:nth-child(2) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico2_over.png) no-repeat center;
                                        background-size: auto 72px;
                                    }
                                    li:nth-child(2) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico2.png) no-repeat center;
                                        background-size: auto 56px;
                                    }
                                    li.on:nth-child(2) > a > .tit{
                                        font-family: "NanumSquare_acEB";
                                        font-size: 24px; color: #222;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                    li:nth-child(2) > a > .tit{
                                        font-family: "NanumSquare_acB";
                                        font-size: 20px; color: #ccc;
                                        transition: all 0.3s;
                                        height: 26px;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                    
                                    // 세번째아이콘
                                    li.on:nth-child(3) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico3_over.png) no-repeat center;
                                        background-size: auto 71px;
                                    }
                                    li:nth-child(3) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico3.png) no-repeat center;
                                        background-size: auto 61px;
                                    }
                                    li.on:nth-child(3) > a > .tit{
                                        font-family: "NanumSquare_acEB";
                                        font-size: 24px; color: #222;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                    li:nth-child(3) > a > .tit{
                                        font-family: "NanumSquare_acB";
                                        font-size: 20px; color: #ccc;
                                        transition: all 0.3s;
                                        height: 26px;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                 
                                    // 네번째아이콘
                                    li.on:nth-child(4) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico4_over.png) no-repeat center;
                                        background-size: auto 76px;
                                    }
                                    li:nth-child(4) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico4.png) no-repeat center;
                                        background-size: auto 59px;
                                    }
                                    li.on:nth-child(4) > a > .tit{
                                        font-family: "NanumSquare_acEB";
                                        font-size: 24px; color: #222;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                    li:nth-child(4) > a > .tit{
                                        font-family: "NanumSquare_acB";
                                        font-size: 20px; color: #ccc;
                                        transition: all 0.3s;
                                        height: 26px;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                                     
                                    // 다섯번째아이콘
                                    li.on:nth-child(5) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico5_over.png) no-repeat center;
                                        background-size: auto 80px;
                                    }
                                    li:nth-child(5) > a > .icon{
                                        background: url(../img/aboutus/icon2/m11_1_ico5.png) no-repeat center;
                                        background-size: auto 62px;
                                    }
                                    li.on:nth-child(5) > a > .tit{
                                        font-family: "NanumSquare_acEB";
                                        font-size: 24px; color: #222;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }
                                    li:nth-child(5) > a > .tit{
                                        font-family: "NanumSquare_acB";
                                        font-size: 20px; color: #ccc;
                                        transition: all 0.3s;
                                        height: 26px;
                                        font-weight: bold;
                                        letter-spacing: -2px;
                                    }

                                    // 밑화살표
                                    li::after{
                                        display: block;
                                        content: "";
                                        width: 0; height: 0;
                                        border-top: 8px solid #d3d3d3;
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        position: absolute;
                                        left: 50%; bottom: 15px;
                                        transform: translateX(-50%);
                                        opacity: 0;
                                    }
                                    li.on::after{opacity: 1;}
                                }
                            }
                            .bu_tabcons{
                                margin-top: 30px;
                                .list{
                                    display: block;
                                    box-sizing: border-box;
                                    padding: 40px 0;
                                    height: 188px;
                                    background: #f6f6f6;
                                    div{
                                        display: flex;
                                        align-items: center;
                                        .titarea{
                                            width: 205px;
                                            text-align: center;
                                            display: inline-block;
                                            .icon{
                                                width: 100%;
                                                height: 59px;
                                                margin-bottom: 15px;
                                            }
                                            .tit{
                                                font-family: "NanumSquare_acB";
                                                font-size: 20px;
                                                color: #222;
                                            }
                                        }
                                        .con{
                                            ul{
                                                li{
                                                    margin-bottom: 0;
                                                    padding: 0;
                                                    font-size: 17px;
                                                    color: #888;
                                                }
                                            }
                                        }
                                    }
                                }
                                .list:nth-child(1){
                                    .titarea{
                                        .icon{
                                            width: 100%;
                                            background: url(../img/aboutus/icon2/m11_1_ico1_over.png) no-repeat center;
                                            background-size: auto 54px;
                                        }
                                        .tit{
                                            width: 100%;
                                            text-align: center;
                                            display: inline-block;
                                            font-family: "NanumSquare_acB";
                                            font-size: 20px;
                                            color: #222;
                                            letter-spacing: -2px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .list:nth-child(2){
                                    .titarea{
                                        .icon{
                                            width: 100%;
                                            background: url(../img/aboutus/icon2/m11_1_ico2_over.png) no-repeat center;
                                            background-size: auto 54px;
                                        }
                                        .tit{
                                            width: 100%;
                                            text-align: center;
                                            display: inline-block;
                                            font-family: "NanumSquare_acB";
                                            font-size: 20px;
                                            color: #222;
                                            letter-spacing: -2px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .list:nth-child(3){
                                    .titarea{
                                        .icon{
                                            width: 100%;
                                            background: url(../img/aboutus/icon2/m11_1_ico3_over.png) no-repeat center;
                                            background-size: auto 54px;
                                        }
                                        .tit{
                                            width: 100%;
                                            text-align: center;
                                            display: inline-block;
                                            font-family: "NanumSquare_acB";
                                            font-size: 20px;
                                            color: #222;
                                            letter-spacing: -2px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .list:nth-child(4){
                                    .titarea{
                                        .icon{
                                            width: 100%;
                                            background: url(../img/aboutus/icon2/m11_1_ico4_over.png) no-repeat center;
                                            background-size: auto 54px;
                                        }
                                        .tit{
                                            width: 100%;
                                            text-align: center;
                                            display: inline-block;
                                            font-family: "NanumSquare_acB";
                                            font-size: 20px;
                                            color: #222;
                                            letter-spacing: -2px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                .list:nth-child(5){
                                    .titarea{
                                        .icon{
                                            width: 100%;
                                            background: url(../img/aboutus/icon2/m11_1_ico5_over.png) no-repeat center;
                                            background-size: auto 54px;
                                        }
                                        .tit{
                                            width: 100%;
                                            text-align: center;
                                            display: inline-block;
                                            font-family: "NanumSquare_acB";
                                            font-size: 20px;
                                            color: #222;
                                            letter-spacing: -2px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
